.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 50s linear;
  height: 25vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {border-bottom: 1px solid silver; margin-bottom: 20px;}

table.bordered-table th, td {border: 1px solid black; padding: 4px; background-color: #9cc7c5; }
table.bordered-table {border-collapse: collapse};

input.invalid {border-color: red;}
div.error {color: red;}

body {
  background-image: url("./images/Wallpaper.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 1.0;
  left: 30px;
}

.form-style {border: 1px solid black; padding: 4px; background-color: #9cc7c5; width: 900px;}
